/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-position: center top;
  background-attachment: fixed;
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
}


.top-right-decor {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}


.bottom-left-decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-weight: bold;
}

.header {
  position: relative;
  height: calc(100vh - var(--margin-value));
  margin: 0 var(--margin-value);
}

.header .top-right-decor {
  top: var(--margin-value);
}

.header .top-right-decor::before {
  content: "rec";
  position: absolute;
  left: -35px;
  top: 1px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header .top-right-decor::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: clamp(75px, 29.8015vw + -2.3047rem, 192px) 0;
  padding-bottom: clamp(65px, 27.4809vw + -2.3808rem, 173px);
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 10px;
    padding: 20px 0 300px;
  }
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  background-color: transparent;
  color: var(--header-color);
  text-transform: lowercase;
  border: none;
  font-size: 18px;
  line-height: 0.7;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--header-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-color);
}

.header__cover {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__cover-title {
  font-size: clamp(116px, 7.0115rem + 1.0178vw, 120px);
  line-height: .8;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  letter-spacing: -2.5px;  
}

@media (width >= 375px) {
  .header__cover-title {
    font-size: clamp(120px, 0.5625rem + 14.4531vw, 157px);
  }
}

@media (width >= 768px) {
  .header__cover-title {
    margin-left: -20px;
    letter-spacing: 0;
  }
}

.header__cover-subtitle {
  align-self: flex-end;
  width: clamp(355px, 20.9553vw + 17.2686rem, 364px);
  margin-top: clamp(55px, 27.2366vw + -2.9536rem, 162px);
  margin-bottom: clamp(57px, 26.972vw + -2.7591rem, 163px);
  line-height: 23px;
}

@media (width >= 768px) {
  .header__cover-subtitle {
    width: clamp(364px, 49.6094vw + -1.0625rem, 491px);
    margin-top: clamp(114px, -18.75vw + 19.125rem, 162px);
    margin-bottom: clamp(114px, -18.75vw + 19.125rem, 162px);
    line-height: 24px;
  }
}


/* статьи */

.link {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  border: 1px solid var(--text-color);
  outline: none;
}

.question {
  color: var(--article-question-color);
}

.articles {
  margin: 0 var(--margin-value);
}

.articles__article-item {
  margin-top: clamp(50px, 11vw, 80px);
}

.answers__item {
  margin-top: 20px;
}

.answers__advice {
  font-weight: normal;
}

.answers__text {  
  margin-top: 10px;
  color: var(--text-color);
  line-height: 23.41px;
}

.articles__article-item:nth-child(3) .answers__title {
  margin-top: 20px;
}

@media (width >= 768px) {
  .articles__article-item:nth-child(2n+1) {
    display: grid;
    grid-template-columns: 1fr clamp(472px, 69.1406vw + -3.6875rem, 649px);
    gap: 10px;
  }
  
  .articles__article-item:nth-child(2n+1) .answers__item:first-child {
    margin: 0;
  }
  
  .articles__article-item:nth-child(2) .question {
    width: 236px;
  }
  
  .articles__article-item:nth-child(3) .answers__title {
    margin-top: 0;
  }
}

@media (width >= 1024px) {
  .articles__article-item:nth-child(2n+1) {
    grid-template-columns: 1fr 2fr;
  }
  
  .articles__article-item:nth-child(2) .question {
    width: 315px;
  }

  .articles__article-item:nth-child(2) .answers{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}


/* галлерея */

.gallery {
  margin: 50px var(--margin-value) clamp(46px, 8.6514vw + .8473rem, 80px);
}

.gallery__title {
  margin-bottom: 10px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-sunset {
  grid-area: sunset;
}

.image-ice-cream {
  grid-area: ice-cream;
}

.image-tape {
  grid-area: tape;
}

.image-books {
  grid-area: books;
}

.image-street {
  grid-area: street;
}

@media (width >= 768px) {
  .gallery {
    margin-top: 80px;
  }

  .gallery__list {
    display: grid;
    grid-template-rows: calc(26.5625vw + -.75rem) calc(33.2031vw + -1.5625rem) calc(42.9688vw + -.75rem);
    grid-template-columns: repeat(3, clamp(230px, 33.2031vw + -1.5625rem));
    margin-top: 20px;
    gap: 20px;
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }
}

@media (width >= 1024px) {
  .gallery__list {
    grid-template-rows: calc(26.5625vw + -.75rem) calc(33.2031vw + -1.5625rem) calc(43.5688vw + -.75rem);
  }

  .image-street {
    margin-top: 5px;
  }
}



/* footer */

.footer {
  position: relative;
  height: calc(100vh - 2 * var(--margin-value));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-value);
  box-sizing: border-box;
}

.footer__title {
  text-align: center;
  font-size: clamp(116px, 7.0115rem + 1.0178vw, 120px);
  line-height: .8;
  color: var(--title-color);
  text-shadow: 2px 2px var(--accent-color);

}

@media (width >= 768px) {
  .footer__title {
    font-size: clamp(120px, 14.4531vw + .5625rem, 157px);
  }
}