/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --margin-value: clamp(10px, 2.5445vw + 0.0286rem, 20px);
  --accent-color: #ff0070;
  --header-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-decor-color: #000028;
  --article-question-color: #ff0070;
  --corner-color: #ff0070;
  --background-color: #000028;
  --nav-hover-color: rgb(255, 0, 112, 0.4);
}
